<div class="form-wrapperup">
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'needs-validation', novalidate: true }) do |f| %>
    <span>or use your email for registration</span>
    <div class="row mb-3">
      <div class="col">
        <%= f.text_field :fname, placeholder: "First Name", class: "form-control", required: true %>
      </div>
      <div class="col">
        <%= f.text_field :lname, placeholder: "Last Name", class: "form-control", required: true %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <%= f.email_field :email, placeholder: "Email", class: "form-control mb-3", required: true %>
      </div>
      <div class="col">
        <%= f.password_field :password, placeholder: "Password", class: "form-control mb-3", required: true %>
      </div>
      <div class="col">
        <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "form-control mb-3", required: true %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <%= f.text_field :phone, placeholder: "Phone Number", class: "form-control", required: true %>
      </div>
      <div class="col">
        <%= f.date_field :date_of_birth, placeholder: "Date of Birth", class: "form-control", required: true %>
      </div>
    </div>
    <%= f.text_field :address, placeholder: "Address", class: "form-control mb-3", required: true %>
    <div class="row mb-3">
      <div class="col">
        <%= f.text_field :city, placeholder: "City", class: "form-control", required: true %>
      </div>
      <div class="col">
        <%= f.text_field :state, placeholder: "State", class: "form-control", required: true %>
      </div>
      <div class="col">
        <%= f.text_field :postal_code, placeholder: "Postal Code", class: "form-control", required: true %>
      </div>
    </div>
    <%= f.select :gender, options_for_select([['Male', 'male'], ['Female', 'female'], ['Other', 'other']]), { include_blank: 'Gender' }, class: 'form-control mb-3', required: true %>
    <%= f.text_area :medical_history, placeholder: "Medical History", rows: 4, class: "form-control mb-3", required: true %>
    <div class="actions">
      <%= f.submit "SIGN UP", class: "btn btn-primary" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
